body {
  font-family: var(--font-heading);
}

.categoriesButton {
  background-color: var(--main-color);
  color: white;
  font-family: var(--font-heading);
  font-weight: bold;
}

.navbar {
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}