.testimonialbackground {
    background-image: url(../../assets/images/testimonial.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    max-width: 80%;
    margin: auto;
  }
  
  /* .testimonialbackground .overlay {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  } */
  